/*

TOC 

1 Utility
2 Buttons
3 Body
4 Top Navigation
5 Top Navigation Left
6 Top Navigation Middle
7 Top Navigation Right
8 Top Section Big Header
9 Top Section Left
10 Top Section Screen Shot Container


*/


/*1 Utility*/

.clear {
	clear: both;
}


/*2 Buttons*/

.search_button a {
	text-decoration: none;
	color: #F2F2F2;
	background: #2fb31d;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#2fb31d), to(#1d800f));
	background: -webkit-linear-gradient(0% 0%, 0% 100%, from(#2fb31d), to(#1d800f));
	background: -moz-linear-gradient(center top, #2fb31d, #1d800f);
	background: linear-gradient(#2fb31d, #1d800f);
	-moz-border-radius: 9px 9px 9px 9px;
	-webkit-border-radius: 9px 9px 9px 9px;
	border-radius: 9px 9px 9px 9px;
	border: solid 1px #000000;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.32);
	line-height: 14px;
	display: inline-block;
	text-transform: uppercase;
}

.search_button a:hover {
	color: #F2F2F2;
	background: #1d800f;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#1d800f), to(#2fb31d));
	background: -webkit-linear-gradient(0% 0%, 0% 100%, from(#1d800f), to(#2fb31d));
	background: -moz-linear-gradient(center top, #1d800f, #2fb31d);
	background: linear-gradient(#1d800f, #2fb31d);
}


/*3 Body*/

body {
	font-family: 'Droid Sans', Geneva, Tahoma, Verdana, sans-serif;
	font-size: 13px;
	padding-top: 80px;
	position: relative;
	background: #FFFFFF;
	background: url(../images/white-carto.png), -moz-linear-gradient(rgb(252, 248, 247), rgb(248, 89, 14));
	background: url(../images/white-carto.png), -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(252, 248, 247)), color-stop(100%, rgb(248, 89, 14)));
	background: url(../images/white-carto.png), -webkit-linear-gradient(rgb(252, 248, 247), rgb(248, 89, 14));
	background: url(../images/white-carto.png), -o-linear-gradient(rgb(252, 248, 247), rgb(248, 89, 14));
	/*filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FCF8F7', endColorstr='#F8590E');
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FCF8F7', endColorstr='#F8590E')";*/
	background: url(../images/white-carto.png), linear-gradient(rgb(252, 248, 247), rgb(248, 89, 14));
	background-repeat: no-repeat;
	-moz-background-size: 100% 410px;
	background-size: 100% 430px;
	background-position: 0 65px;
}

  

/*4 Top Navigation*/


#top_nav {
	background-color: #222;
	background-image: -webkit-linear-gradient(top,#454545 0,#0a0a0a 100%);
	background-image: -moz-linear-gradient(top,#454545 0,#0a0a0a 100%);
	background-image: -ms-linear-gradient(top,#454545 0,#0a0a0a 100%);
	background-image: -o-linear-gradient(top,#454545 0,#0a0a0a 100%);
	background-image: linear-gradient(top,#454545 0,#0a0a0a 100%);
	width: 100%;
	/*height: 50px;*/
	color: #F2F2F2;
	/*overflow: hidden;*/
	-webkit-box-shadow: 0px 2px 4px 2px rgba(26,26,26,0.35);
	-moz-box-shadow: 0px 2px 4px 2px rgba(26,26,26,0.35);
	box-shadow: 0px 2px 4px 2px rgba(26,26,26,0.35);
	border-bottom: solid 1px #000000;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 3;
}


.nav_middle ul, .nav_left ul {
	margin: 0;
	text-decoration: none;
	font-size: 14px;
	text-transform: uppercase;
}

.nav_middle li, .nav_left li {
	padding-left: 0;
	list-style: none;
	display: inline-block;
	/*line-height: 50px;*/
}

.nav_middle li a, .nav_left li a {
	text-decoration: none;
	color: #F2F2F2;
/*	padding: 25px 6px;*/
}

.nav_middle li a:hover, .nav_left li a:hover {
	color: #FF8000;
}

/*5 Top Navigation Left*/

.nav_left h1 {
	display: block;
/*	margin-bottom: 2px;
	margin-top: 2px;*/
	float: left;
	line-height: 100%;
	margin: 0;
}

.nav_left h1 a {
	background: url(../images/fl-logo-header.png) no-repeat;
	background-size: 255px 40px;
	width: 255px;
	height: 40px;
	display: block;
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	margin: 0 auto;
}

.nav_left ul {
	font-size: 11px;
	text-align: center;
}

.nav_left li a {
	padding: 0px 6px;
}


/*6 Top Navigation Middle*/

.nav_middle {
	text-align: center;
	vertical-align: middle;
}

.nav_middle li {
	line-height: 59px;
	position: relative;
}

.nav_middle li a {
	padding: 22px 16px;
}



.dropdown-toggle span {
	font-size: 9px;
	display: inline-block;
	padding-bottom: 3px;
}

ul.dropdown-menu {
	top: 70%;
	width: auto;
	padding: 0;
	background: #222;
	background: rgba(34, 34, 34, .95); 
}

.dropdown-menu>li {
	line-height: 14px;
}

.dropdown-menu li a {
	padding: 8px 8px;
}

.dropdown-menu li a:hover {
	background: transparent;
}




/*7 Top Navigation Right*/

.nav_right {
	text-align: right;
	line-height: 59px;
}


.nav_button a {
	padding: 10px 10px;
	font-size: 14px;
}

/*8 Top Section Big Header*/


.top_tag h1 {
	text-shadow: 1px 2px 4px rgba(0, 0, 0, 0.50);
	text-align: center;
	font-size: 44px;
	line-height: 50px;
	padding-bottom: 25px;
	color: #121212;	
}

/*9 Top Left Teaser and Search Button*/

.teaser_top {
	padding: 12px 0;
}

.teaser_top h2 {
	font-size: 24px;
	line-height: 30px;
	font-weight: 700;
	color: #333;
	text-shadow: 0 1px 3px rgba(255, 255, 255, 0.50);
	padding-bottom: 12px;
}


.top_button a {
	font-size: 18px;
	line-height: 20px;
	padding: 14px 14px;
}

.top_button span {
	font-size: 20px;
}

/*10 Features List*/

.features_list  {
	width: auto;
	height: 100%;
	margin-top: 30px;
}


.feature h3 {
	background:url(../images/fl-icon-sprite2.png) no-repeat 0 -4px;
	display: block;
	float: left;
	width: 63px;
	height: 60px;
	text-indent: -9999em; 
	clear: both;
}


.feature:hover h3, .feature_list_click1 {
	cursor: pointer;
	background:url(../images/fl-icon-sprite2.png) no-repeat 0 -62px;
}


.feature span {
	font-size: 18px;
	line-height: 22px;
	color: #111;
	/*text-shadow: 0 1px 3px rgba(0, 0, 0, 0.50);*/
	padding-top: 14px;
	display: block;
	float: left;
	width: 85%;
}

.feature:hover span, .feature_list_click2 {
	/*color: #FF8000;*/
	text-shadow: 0 1px 3px rgba(0, 0, 0, 0.30);
	text-decoration: none;
	cursor: pointer;
}


/*11 Right Main Screen Shot Container*/

.screenshot_container {
	margin-top: 55px;
	position: relative;
	/*width: 670px;*/
	/*height: 514px;*/
	/*background: url(../images/screenshot-fl.png) no-repeat;*/
}

.screenshot {
	z-index: 1;
	position: absolute;
	left: 26px;
	top: 24px;
}

.circle_wrapper {
	position: absolute;
	z-index: 2;
}

.circle_one {
	top: 38%;
	left: 55%;
}

.circle_two {
	top: 26%;
	left: 28%;
}

.circle_three {
	top: 0%;
	left: 83%;
}

.circle {
	position: relative;
	width: 90px;
	height: 90px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
	background-color: #2fb31d;
	opacity: .35;
}

.circle_description {
	visibility: hidden;
}


/*12 Footer*/

footer {
	width: 100%;
	height: 100%;
	margin-top: 30px;
	border-top: solid 8px rgba(18, 18, 18, 0.70);
	background: #222;
}

.social_footer {
	float: right;
	margin-top: 10px;
}


.social_footer li {
	/*float: left;*/
	background: url(../images/social-media-sprite.png);
	display: inline-block;
	margin-left: 8px;
}

.social_footer li a {
	/*display: block;*/
	height: 28px;
	width: 29px;
	text-indent: -9999em;
	display: block;
}

.social_footer li.linkedIn {
	background-position: -90px 0px;
}

.social_footer li.linkedIn:hover {
	background-position: -90px -29px;
}

.social_footer li.twitter {
	background-position: 0px 0px;
}

.social_footer li.twitter:hover {
	background-position: 0px -29px;
}

.social_footer li.rss {
	background-position: -120px 0px;
}

.social_footer li.rss:hover {
	background-position: -120px -29px;
}


.copyright {
	text-align: center;
	font-size: 11px;
	color: #F2F2F2;
}



@media (max-width: 1200px) {

/*body*/

body {
	-moz-background-size: 100% 360px;
	background-size: 100% 360px;
	background-position: 0 65px;
}

/*Top Navigation*/
	
/*Nav Left	*/

	.nav_left h1 a {
		background: url(../images/fl-logo-header.png) no-repeat;
		background-size: 230px 35px;
		width: 230px;
		height: 35px;
	}

	.nav_left ul {
		font-size: 10px;
		text-align: center;
	}

/*Nav Middle*/

	.nav_middle {
		text-align: right;
		padding-right: 5%;
	}


/*top section big header*/

	.top_tag h1 {
		text-align: center;
		font-size: 40px;
		line-height: 42px;
		padding-bottom: 3px;
	}

/*Top Section Left*/
	
	.teaser_top {
		padding: 0;
	}

	.teaser_top h2 {
		font-size: 22px;
		line-height: 26px;
		padding-bottom: 8px;
	}

	.top_button a {
		font-size: 14px;
		line-height: 16px;
		padding: 11px 11px;
	}

	.top_button span {
		font-size: 16px;
	}

	.features_list  {
		margin-top: 25px;
	}

	.feature h3 {
		background-position: 0 0;
		background-size: 80%;
		width: 50px;
		height: 42px;
	}



	.feature:hover h3, .feature_list_click1 {
		cursor: pointer;
		background-position: 0 -39px;
		background-size: 80%;
	}

	.feature span {
		font-size: 18px;
		line-height: 20px;
		padding-top: 12px;
		display: block;
		width: 85%;
	}

/*Top Section Screen Shot Container*/
	
	.screenshot_container {
		margin-top: 30px;
	}

	.screenshot {
		left: 21px;
		top: 19px;
	}

	.screenshot img {
		height: 96%;
		width: 96%;
	}

	.circle {
		width: 60px;
		height: 60px;
	}




}


/*tablets*/

@media (min-width: 768px) and (max-width: 979px) {

	body {
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
		background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPHJhZGlhbEdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IjUwJSIgcj0iNzUlIj4KICAgIDxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMC4zNSIvPgogICAgPHN0b3Agb2Zmc2V0PSI0MiUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMC4zNSIvPgogICAgPHN0b3Agb2Zmc2V0PSI4NSUiIHN0b3AtY29sb3I9IiNmYTg0NGMiIHN0b3Atb3BhY2l0eT0iMC4zNSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZjg1OTBlIiBzdG9wLW9wYWNpdHk9IjAuNTYiLz4KICA8L3JhZGlhbEdyYWRpZW50PgogIDxyZWN0IHg9Ii01MCIgeT0iLTUwIiB3aWR0aD0iMTAxIiBoZWlnaHQ9IjEwMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
		background: -moz-radial-gradient(center, ellipse cover,  rgba(255,255,255,0.35) 0%, rgba(255,255,255,0.35) 42%, rgba(250,132,76,0.35) 85%, rgba(248,89,14,0.56) 100%); /* FF3.6+ */
		background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(255,255,255,0.35)), color-stop(42%,rgba(255,255,255,0.35)), color-stop(85%,rgba(250,132,76,0.35)), color-stop(100%,rgba(248,89,14,0.56))); /* Chrome,Safari4+ */
		background: -webkit-radial-gradient(center, ellipse cover,  rgba(255,255,255,0.35) 0%,rgba(255,255,255,0.35) 42%,rgba(250,132,76,0.35) 85%,rgba(248,89,14,0.56) 100%); /* Chrome10+,Safari5.1+ */
		background: -o-radial-gradient(center, ellipse cover,  rgba(255,255,255,0.35) 0%,rgba(255,255,255,0.35) 42%,rgba(250,132,76,0.35) 85%,rgba(248,89,14,0.56) 100%); /* Opera 12+ */
		background: -ms-radial-gradient(center, ellipse cover,  rgba(255,255,255,0.35) 0%,rgba(255,255,255,0.35) 42%,rgba(250,132,76,0.35) 85%,rgba(248,89,14,0.56) 100%); /* IE10+ */
		background: radial-gradient(ellipse at center,  rgba(255,255,255,0.35) 0%,rgba(255,255,255,0.35) 42%,rgba(250,132,76,0.35) 85%,rgba(248,89,14,0.56) 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#59ffffff', endColorstr='#8ff8590e',GradientType=1 ); /* IE6-8 fallback on horizontal gradient */
	}
}

@media (max-width: 979px) {


	/*Top navigation*/

	#top_nav {
		height: 50px;
	}

	#top_nav > .container > .row div:nth-child(2) {
		float: right;
		width: 70%;
	}


	#top_nav > .container > .row div:nth-child(3) {
		visibility: hidden;
		height: 0;
		width: 0;
	}


	.nav_middle {
		text-align: right;
	}

	.nav_left h1 {
		margin-top: 6px;
	}

	.nav_left ul {
		display: none;
	}

	/*top section big header and butotn*/

	.top_tag h1 {
		font-size: 36px;
		line-height: 38px;
	}

	.teaser_top > h2 {
		visibility: hidden;
		height: 0;
	}

	/*Features List*/

	.features_list  {
		margin-top: 12px;
	}


	.feature span {
		font-size: 17px;
		line-height: 20px;
		padding-top: 11px;
		display: block;
		width: 80%;
	}

	/*Top Section Screen Shot Container*/
	

	.screenshot {
		left: 19px;
		top: 17px;
	}

	.screenshot img {
		height: 96%;
		width: 96%;
	}

}


@media (max-width: 767px) {

	body {
		-moz-background-size: 100% 510px;
		background-size: 100% 510px;
	}

	#top_nav > .container > .row > .span3 div:nth-child(1) {
		float: left;
		width: 166px;
	}

	#top_nav > .container > .row div:nth-child(2) {
		float: right;
		width: 60%;
	}

	.nav_middle ul {
		font-size: 12px;
	}

	.nav_middle li a {
		padding-left:12px;
		padding-right: 0;
	}

	.top_button {
		margin: 0 32% 24px;
	}


	.features_list {
		/*margin:	12px 25% 0 25%;*/
		text-align: center;
		width: 100%
	}


	.feature {
		display: inline-block;
		/*float: left;*/
		padding-right: 12px;
	}

	.feature h3 {
		display: inline;
		float: none;
		background: none;
		padding: 0;
		height: auto;
		width: auto;
		text-indent: 0;
		clear: none;
		font-size: 24px;
		/*line-height: 26px;*/
		font-weight: 700;
		color: #333;
		/*text-decoration: underline;*/
		text-shadow: 0 1px 3px rgba(255, 255, 255, 0.50);
	}


	.feature:hover h3 {
		background: none;
		text-shadow: 0 1px 12px rgba(255, 255, 255, 0.80);
	}


	.feature span {
		visibility: hidden;
		height: 0px;
		width: 0px;
	}

	.screenshot_container {
		clear: both;
		margin: 0 5%;
	}

	.screenshot {
		left: 24px;
		top: 23px;
	}

	.screenshot img {
		height: 98%;
		width: 98%;
	}

}

@media (max-width: 750px) {

	.screenshot img {
		height: 96%;
		width: 96%;
	}

	.screenshot {
		top: 22px;
	}

}

@media (max-width: 745px) {
	
	.top_button {
		margin: 0 30% 24px;
	}


}

@media (max-width: 710px) {
	
	.screenshot {
		top: 20px;
		left: 22px;
	}
}

@media (max-width: 675px) {
	
	.top_button {
		margin: 0 28% 24px;
	}

@media (max-width: 620px) {
	
	.screenshot {
		top: 18px;
		left: 20px;
	}

	.top_button {
		margin: 0 26% 24px;
	}
}

@media (max-width: 590px) {
	
	.screenshot {
		top: 17px;
		left: 18px;
	}
}

@media (max-width: 572px) {
	
	.top_button {
		margin: 0 25% 24px;
	}

@media (min-width: 480px) and (max-width: 548px) {
	
	body {
		-moz-background-size: 100% 490px;
		background-size: 100% 490px;
	}
	.screenshot {
		top: 15px;
		left: 16px;
	}

	.top_button {
		margin-bottom: 24px;
		margin-left: 120px;
	}

	.nav_middle ul li:first-child {
		visibility: hidden;
		width: 0;
		height: 0;
	}

	.top_button a {
		font-size: 12px;
		line-height: 14px;
		padding: 12px 12px;
	}

	.top_button span {
		visibility: hidden;
		height: 0;
		width: 0;
	}


}

/*iphone*/

@media (max-width: 480px) {

	body {
		padding-top: 100px;
		background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPHJhZGlhbEdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IjUwJSIgcj0iNzUlIj4KICAgIDxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMC4zNSIvPgogICAgPHN0b3Agb2Zmc2V0PSI0MiUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMC4zNSIvPgogICAgPHN0b3Agb2Zmc2V0PSI4NSUiIHN0b3AtY29sb3I9IiNmYTg0NGMiIHN0b3Atb3BhY2l0eT0iMC4zNSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZjg1OTBlIiBzdG9wLW9wYWNpdHk9IjAuNTYiLz4KICA8L3JhZGlhbEdyYWRpZW50PgogIDxyZWN0IHg9Ii01MCIgeT0iLTUwIiB3aWR0aD0iMTAxIiBoZWlnaHQ9IjEwMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
		background: -moz-radial-gradient(center, ellipse cover,  rgba(255,255,255,0.35) 0%, rgba(255,255,255,0.35) 42%, rgba(250,132,76,0.35) 85%, rgba(248,89,14,0.56) 100%); /* FF3.6+ */
		background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(255,255,255,0.35)), color-stop(42%,rgba(255,255,255,0.35)), color-stop(85%,rgba(250,132,76,0.35)), color-stop(100%,rgba(248,89,14,0.56))); /* Chrome,Safari4+ */
		background: -webkit-radial-gradient(center, ellipse cover,  rgba(255,255,255,0.35) 0%,rgba(255,255,255,0.35) 42%,rgba(250,132,76,0.35) 85%,rgba(248,89,14,0.56) 100%); /* Chrome10+,Safari5.1+ */
		background: -o-radial-gradient(center, ellipse cover,  rgba(255,255,255,0.35) 0%,rgba(255,255,255,0.35) 42%,rgba(250,132,76,0.35) 85%,rgba(248,89,14,0.56) 100%); /* Opera 12+ */
		background: -ms-radial-gradient(center, ellipse cover,  rgba(255,255,255,0.35) 0%,rgba(255,255,255,0.35) 42%,rgba(250,132,76,0.35) 85%,rgba(248,89,14,0.56) 100%); /* IE10+ */
		background: radial-gradient(ellipse at center,  rgba(255,255,255,0.35) 0%,rgba(255,255,255,0.35) 42%,rgba(250,132,76,0.35) 85%,rgba(248,89,14,0.56) 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#59ffffff', endColorstr='#8ff8590e',GradientType=1 ); /* IE6-8 fallback on horizontal gradient */
	
	}

	.top_button {
		text-align: center; 
	}

	.top_button span {
		display: none;
	}
	
	#top_nav {
		height: 80px;
	}

	#top_nav > .container > .row div:nth-child(2) {
		clear: both;
		width: 100%;
	}

	.nav_left h1 a {
		margin: 0 20%;
	}

	.nav_middle {
		text-align: center;
	}
	
	.nav_middle li {
		line-height: 30px;
	}	

	.top_tag h1 {
		font-size: 28px;
		line-height: 30px;
	}

	.feature h3 {
		font-size: 20px;
	}

	.screenshot img {
		height: 97%;
		width: 97%;
	}

	.screenshot {
		top: 10px;
		left: 10px;
	}

	.circle_one {
		top: 38%;
		left: 55%;
	}

	.circle_two {
		top: 17%;
		left: 21%;
	}

	.circle_three {
		top: -5%;
		left: 79%;
	}


}



